html {
    font-family: sans-serif;
  }

  .topnav{
    background-color: rgb(12, 74, 245);
    padding: 20px;
    margin: 10px 0px;
  }

  .topnav a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
  }

  .topnav a:hover, .topnav a.active {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(39, 38, 38);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 20px 0px 20px;
  }
  
  td, th {
    border: 1px solid rgb(80, 79, 79);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(12, 74, 245);
    color:rgb(255, 255, 255)
  }
  
  td {
    text-align: center;
  }

  tr, td {
    background-color: rgb(245, 245, 245);
  }

  button {
    background-color:rgb(12, 74, 245);
    padding: 15px 15px;
    border-radius: 7px;
    color:rgb(255, 255, 255);
  }

  #indexbtn {
    margin-top: 5px;
  }
  
  #modbtn, #degbtn {
    margin-top: 30px;
  }

  #degreebtn, #modulebtn, #assessbtn, #timebtn {
    margin-left: 20px;
  }

  #degreeDropdown {
    margin: 8px;
  }

  input, #dropdownModule, #dropdownDegree, #dropdownFreq {
    margin-bottom: 10px;
  }
